.header h1{
    font-size: 100px ;
}


.main-page {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

.card {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}


.card-name {
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
}

.card-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.navigation {
    margin: 20px o;
    text-align: center;
}

.navigate {
    background-color: #b8f807;
    color: #fff;
    text-align: center;
    max-width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
       
       
}

.erro {
    text-align: center;
    
}

.headings {
    text-align: center;
}